<%- include ("../partials/head.ejs") %>

<main>
    <h1 class="header">Woordenlijst: <%= listName %></h1>
    <div class="content">
        <form id="word-list-name-form" method="post" onsubmit="return confirm('Wil je de wijzigingen opslaan?')">
            <% if(listName.length != 0) { %>
                <div>
                    <label for="listName">Woordenlijst Naam:</label>
                    <input id="listName" type="text" class="form-input" name="listName" value="<%= listName %>"
                           required>
                </div>
                <input type="hidden" name="listId" value="<%= listId %>">
                <div class="list-name-form-buttons">
                    <input class="form-button success-button" name="save-wordlist" type="submit" value="Titel Updaten">
                    <input class="form-button cancel-button" name="delete-wordlist" type="submit" value="Verwijderen">
                </div>
            <% } else { %>
                <div>
                    <label for="listName">Woordenlijst Naam:</label>
                    <input id="listName" type="text" class="form-input" name="listName" value="<%= listName %>"
                           required>
                </div>
                <input type="hidden" name="listId" value="<%= listId %>">
                <div class="list-name-form-buttons">
                    <input class="form-button success-button" name="save-wordlist" type="submit" value="Titel Updaten">
                    <input class="form-button cancel-button" name="delete-wordlist" type="submit" value="Verwijderen">
                </div>
            <% } %>
        </form>
        <hr>
        <div class="words-container">
            <% if(typeof (words) != "undefined") { %>
                <% if(listName.length != 0) { %>
                    <% words.sort((a, b) => (a.data().timestamp > b.data().timestamp) ? 1 : ((b.data().timestamp > a.data().timestamp) ? -1 : 0)) %>
                    <% words.forEach(word => { %>
                        <% let imageIds = images.map(a => a.id); %>
                        <% if (imageIds.indexOf(word.id) !== -1){ %>
                            <a class="square-link" href="<%= listId %>/<%= word.id %>">
                                <button class="wordlist-item">
                                    <img src="<%= images[imageIds.indexOf(word.id)].url %>" width="80%">
                                    <%= word.data().word %></button>
                            </a>
                        <% }else{ %>
                            <a class="square-link" href="<%= listId %>/<%= word.id %>">
                                <button class="wordlist-item">
                                    <img src="/img/150.png" width="80%">
                                    <%= word.data().word %></button>
                            </a>
                        <% } %>
                    <% }); %>
                        <a class="square-link" href="<%= listId %>/add">
                            <button class="wordlist-item add">+</button>
                        </a>
                <% } %>
            <% } %>
        </div>
    </div>
</main>

<%- include ("../partials/footer.ejs") %>