<%- include ("../partials/head.ejs") %>
<main>
    <h1 class="header">Woordenlijsten</h1>

    <div class="content">
        <h2>Thema's</h2>
        <div class="wordlists-container">
            <% words.sort((a, b) => (a.data().timestamp > b.data().timestamp) ? 1 : ((b.data().timestamp > a.data().timestamp) ? -1 : 0)) %>
            <% words.forEach(word => { %>
                <a href="<%= listId %>/<%= word.id %>">
                    <button class="wordlist-item"><%= word.data().word %></button>
                </a>
            <% }); %>
            <% for (var i = 0; i < 53; i++) { %>
                <a href="<%= listId %>/add">
                    <button class="wordlist-item add">+</button>
                </a>
            <% } %>
        </div>
    </div>
</main>

<%- include ("../partials/footer.ejs") %>