<%- include ("../partials/head.ejs") %>

<main>
    <h1 class="header">Klas: <%= klas %></h1>
    <div class="listview-content">
        <div class="students-container">
            <% if(klas.length !== 0) { %>
                <% if(studenten.length > 0) { %>
                    <% studenten.forEach(student => { %>
                        <a class="square-link" href="<%= klasId %>/<%= student.id %>">
                            <button class="rect-item student">
                                <%= student.data().voornaam + ' ' + student.data().achternaam %>
                                <a id="lijst-toewijzen" href="<%= klasId %>/lijst-toewijzen">
                                    Lijst Toewijzen
                                </a>
                            </button>
                        </a>
                    <% }) %>
                <% } %>
                <a class="square-link" href="<%= klasId %>/add">
                    <button class="rect-item add">+</button>
                </a>
            <% } %>
        </div>
    </div>
</main>

<%- include ("../partials/footer.ejs") %>