<%- include ("../partials/head.ejs") %>

<main>
    <h1 class="header">Klas: <%= klas %></h1>
    <div class="listview-content">
        <h2>Voeg de lijst toe aan een leerling</h2>
        <div class="wordlists-container">
            <% studenten.forEach(student => { %>
                <form class="square-link" method="post">
                    <button type=submit class="rect-item" name=student value="<%= student.id %>">
                        <%= student.voornaam + ' ' + student.achternaam %></button>
                </form>
            <% }); %>
        </div>
    </div>
</main>

<%- include ("../partials/footer.ejs") %>