<%- include ("../partials/head.ejs") %>

<main>
    <h1 class="header">Klas: <%= klas %></h1>
    <div class="listview-content">
        <h2>Kies een lijst om toe te wijzen</h2>
        <div class="wordlists-container">
            <% lijsten.forEach(lijst => { %>
                <a class="square-link" href="lijst-toewijzen/<%= lijst.id %>">
                    <button class="rect-item"><%= lijst.naam %></button>
                </a>
            <% }); %>
        </div>
    </div>
</main>

<%- include ("../partials/footer.ejs") %>